/* Minimalist rotating border spinner */
.loader {
    border-top-color: transparent;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Remove default browser styling on input */
input[type="url"]::-webkit-input-placeholder {
    color: #D1D1D1;
    font-style: italic;
}

input[type="url"]::-moz-placeholder {
    color: #D1D1D1;
    font-style: italic;
}